<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
                <rule name="index rewrite">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
				        </rule>
                <rule name="home name">
                    <match url="^profile/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=profile&amp;qryName={R:1}" appendQueryString="false" />
                </rule>
                <rule name="settings">
                    <match url="^settings/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=settings&amp;page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="clienterror">
                    <match url="^client/error$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=client&amp;error" appendQueryString="false" />
                </rule>
                <rule name="housekeeping 1">
                    <match url="^housekeeping/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="housekeeping/{R:1}.php" appendQueryString="false" />
				        </rule>
                <rule name="housekeeping 2">
                    <match url="^housekeeping/manage_users/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="housekeeping/manage_users.php?page={R:1}" appendQueryString="false" />
				        </rule>
                <rule name="housekeeping 3">
                    <match url="^housekeeping/manage_users/user/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="housekeeping/manage_users.php?user={R:1}" appendQueryString="false" />
				        </rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
